* {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: seashell;
    background-color: black;
    font-family: Helvetica;
    opacity: 0.9;
}

header {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    border-bottom: 1px solid seashell;
}

#logo img{
    height: 50px;
    margin: 0 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}

nav ul li {
    list-style: none;
    text-decoration: underline;
    padding: 5px 10px;
}

main {
    width: 100%;
    display: flex;
    margin-top: 53px;
    align-items: center;
    flex-direction: column;
}

#title-image {
    width: 1200px;
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
}

#title-heading {
    width: 1200px;
    height: 100px;
    position: absolute;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#title-heading h2 {
    font-size: 35px;
    padding: 5px 0 10px 0;
}

#title-heading h4 {
    padding-bottom: 10px;
}

.wrap-image img {
    width: 300px;
    height: 200px;
}

#middle-section {
    margin-top: 100px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#middle-header {
    width: 1000px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#middle-header h2 {
    font-size: 35px;
    padding-bottom: 10px;
}

#middle-content {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.wrap-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-image h4 {
    padding: 10px 0;
}